@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-roboto bg-[#100F10] text-white;
  }
  .input {
    @apply rounded-md font-bold indent-1 pl-2 pr-4 py-2.5 outline-none text-black;
  }

  .glass-container {
    @apply bg-[#25232380]  bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 px-6 py-8 container flex flex-col items-center w-auto  mx-auto rounded-2xl;
  }

  /* scrollbar */

  /* width */
  ::-webkit-scrollbar {
    @apply w-[12px] h-[12px];
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-[#f1f1f1] w-[12px] h-[12px];
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-[#585656];
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#2e2e2e];
  }

  /* buttons */

  .remove-btn {
    @apply bg-no-repeat bg-center cursor-pointer bg-red-600 block hover:bg-red-800;
  }
  .add-btn {
    @apply bg-no-repeat  bg-center cursor-pointer bg-green-600 block hover:bg-green-400;
  }

  .login-container {
    @apply bg-[url('https://images2.alphacoders.com/132/1320812.png')] bg-cover bg-center bg-no-repeat;
  }

  /* alerts */

  .alert {
    @apply bg-red-500 px-2 py-2.5 rounded-md;
  }

  /* pagination */

  .pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
    gap: 0.5rem;
    margin-top: 1.5rem;
    padding: 0 0.3em;
  }
  .pagination .page-num,
  .pagination .page {
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    color: #0082be;
    text-decoration: none;
    user-select: none;
  }

  .pagination .page-num:hover,
  .pagination .page:hover {
    background-color: #022c40;
    color: white;
  }

  .pagination .active {
    background-color: #022c40;
    color: white;
    box-shadow: 0 0 20px white;
  }

  /* Pagination Media */

  @media (min-width: 1280px) {
    .pagination {
      flex-wrap: nowrap;
      padding: 0;
    }
  }

  /* cart items*/
  .badge {
    @apply flex items-center flex-shrink-0  gap-2 px-3 py-0.5  rounded-sm w-fit;
  }
  .badge-colorP {
    @apply bg-[#321C76];
  }
  .badge-colorB {
    @apply bg-green-800;
  }
  .badge-colorD {
    @apply bg-slate-700;
  }
}
